body {
  background-repeat: no-repeat;
  background: rgb(12, 51, 85);
  background: linear-gradient(
    274deg,
    rgba(12, 51, 85, 1) 0%,
    rgba(121, 68, 9, 1) 100%,
    rgba(54, 117, 171, 1) 100%
  );
}

.nav-link {
  padding: 40px;
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  width: 95%;
  margin: 0 auto;
  color: white;
}

.form-signin {
  margin-top: 50px;
}

.signIn {
  color: white;
}

.btn {
  background-color: rgba(12, 51, 85, 1);
  color: white;
}

.chest-img {
  text-align: center;
  margin-top: 50px;
}

.chest {
  width: 400px;
  height: 400px;
  align-content: center;
  border-radius: 10%;
  opacity: 80%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
